.form-contact {
    margin: 0 auto;
    width: 35%;

    @include tablet {
        width: 75% ;
    }

    &__group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        @include tablet {
            flex-direction: column;
        }

        &--end {
            justify-content: end;
        }
    }

    &__label {
        font-family: 'Oswald', sans-serif;
        text-transform: capitalize;
        display: inline;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        &--block {
            display: block;
        }
    }

    &__input {
        display: inline;
        font-family: monospace;
        font-size: .9rem;
        margin-bottom: 1rem;
        padding: 0 1rem;

        @include tablet {
            width: 100%;
        }

        &--text {
            height: 3rem;
            width: 75%;
            @include tablet {
                width: 100%;
            }
        }
        &--textarea {
            width: 100%;
            padding: 1rem;
        }
    }
}
